html, body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  overflow-x: hidden;
  margin: 0;
  padding:0;

}

body {
  position: relative;
}
button {


    padding: 1rem;
    background-color: black;
    border:2px solid white;
    color: white;
    font-size: 2rem;


  }
}
